<!DOCTYPE html>
<html>


  <style>
    
    
    .topnav {
      overflow: hidden;
      
    }
    
    .topnav a {
      background-color: #333;
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      width: 20%;
      border: solid white;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    </style>
<body>


<h1> Welcome to EC2 App</h1>
<nav class="topnav">
    <a href="/add">add</a>
    <a href="/show">showbucket</a>
    <a href="/addec2">add</a>
    <a href="/showec2">showec2</a> 
    
  </nav>

</body>
</html>

